*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
    width: 100%;
    height: 100%;
    background-color: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

  .fundoDesfocado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    background-color: #999999;
    border-radius: 0%;

  }
/*.quadro {
    width: 80%;
    max-width: 600px;
    height: 60%;
    max-height: 600px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    text-align: center;
  
  }*/
  .lateral {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: #ffffff;
    height: 100%;
    border-radius: 0 8% 8% 0;
    
  }

  .formulario {
    text-align: center;
    
  }

  
button:active{
    transform: scale(1.0);
}
.spanSenha{
    color: #5EB8F4;
    cursor: pointer;
    margin-right: 40%;
    font-size: 15px;
    text-decoration: solid;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }
    .Cadastrar{
    color: #5EB8F4;
    cursor: pointer;
    text-decoration: solid;
  }

.nao-tem-conta{
    color:#090909;
    font-size: 15px;
    font-weight: bold;
}

.gap-input{
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.imagemLateral {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; 
  height: 100%; 
  background-image: url('./logoTcc.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8% 0 0 8%;
  object-fit: cover;
}

@media (max-width: 890px) {
  .fundoDesfocado {
    width: 100%;
    height: 100%;

    flex-direction: column;
  }
  .lateral {

    width: 100%;

    border-radius: 0;
    
  }
  .imagemLateral {

    width: 100%; 
    height: 100%; 
    background-size: cover;
    border-radius: 0;


  }
  
  
}