.Textomaior {
  color: white;
  font-size: 3vw;
  font-size: 5vh;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.2em;
  text-align: center;
}

@media (max-width: 890px) {
  .Textomaior{

   font-size: 2vw;
   font-size: 2.5vh;
   text-align: center;
  
  }
 
 }
