.main{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color:black;
}


.lateral-a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: black;
  border: black 10px;
}


.lateral-b {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  background-color: black;
}

.tabelasUsuarios {
  background-color: white;
  width: 90%;
  color: black;
  box-shadow: 0px 0px 10px 8px white;
}

.form-cad {
  width: 80%;
  max-width: 600px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.selectUsua {
  width: 100%;
  height: 7vh;
  border-radius: 10px;
  background-color: #212529;
  color: white;
  box-shadow: 0px 0px 0px 4px white;
  padding-left: 40px;
  margin-bottom: 10px;
}

.cssCheckbox {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}

.mostrasenha {
  margin-left: 6px;
  color: white;
}



@media (max-width: 890px) {
  .main{
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: black;
  }


  .lateral-a {
    width: 100%;
    margin-bottom: 15px;
  }


  .lateral-b {
    width: 100%;
    margin-top: 15px;
  }

  .tabelasUsuarios {

    width: 100%;
  }

}