* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: Arial, sans-serif;
    /* Estilização da fonte para toda a página */
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Alinhamento ao topo */
    margin: 0;
    padding: 10px;
    overflow: hidden;
    /* Evita rolagem horizontal indesejada */
}

.lateral7 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
    overflow-y: auto;
    /* Adiciona rolagem vertical se necessário */
    height: 100vh;
    /* Altura total da viewport menos o padding */
}

.lateral8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    background-color: black;
}

.formularioAtiv {
    width: 100%;
    max-width: 600px;
    /* Largura máxima do formulário */
}

.textArea {
    width: 100%;
    height: 150px;
    background-color: white;
    overflow: auto;
}



.botaoCentralizado {
    display: flex;
    margin: 20px auto;
    flex-direction: column;
}

.selectAtividades {
    width: 100%;
    height: 7vh;
    border-radius: 10px;
    background-color: #212529;
    color: white;
    box-shadow: 0px 0px 0px 4px white;
    padding-left: 40px;
    margin-bottom: 10px;
}

.tabelasAtividades {
    background-color: white;
    width: 90%;
    color: black;
    box-shadow: 0px 0px 10px 8px white;
}


@media (max-width: 890px) {
    main {
        flex-direction: column;
        align-items: stretch;
        /* Faz as laterais ocuparem a largura total em telas menores */
    }

    .lateral7 {
        width: 100%;
        margin-bottom: 15px;
    }

    .lateral8 {
        width: 100%;
        margin-top: 15px;
    }
}