* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}


.lateral7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-radius: 0 0 0 0;
    background-color: #E7E8EA;
}

.lateral8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-radius: 0 0 0 0;
    background-color: #E7E8EA;
}

/* Estilo para tornar a tabela responsiva */
.table-responsive {
    overflow-x: auto;
}


.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #000000;
}

.formularioAtiv {
    width: 80%;
    max-width: 600px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.textArea{
    width: 100%;
    height: 15vh;
    border-radius: 10px;
    background-color: #fbf9c0;
    box-shadow: 0px 4px 4px 0px #00000026;
}


@media (max-width: 890px) {
    main {
      height: auto;
      display: flex;
      flex-direction: column;
    }
  
    .lateral7 {
        width: 100%;
        background-size: cover;
        border-radius: 0;
        overflow-y: scroll;
        scroll-behavior: smooth;
      }
   


    .lateral8 {
      width: 100%;
      background-size: cover;
      border-radius: 0;

    }

    .textArea{
        width: 100%;
        height: 10vh;
    }
  
}